# ==========================
# Python
# ==========================

__pycache__/
*.py[cod]
*$py.class

# ==========================
# Virtual Environment
# ==========================

venv/
.env
.env.*

# ==========================
# Django
# ==========================

*.log
local_settings.py

# SQLite database
db.sqlite3

# Media uploads
media/

# Static files collected by collectstatic
staticfiles/

# ==========================
# VS Code
# ==========================

.vscode/

# ==========================
# Pytest / Coverage
# ==========================

.pytest_cache/
.coverage
htmlcov/

# ==========================
# Distribution
# ==========================

build/
dist/
*.egg-info/

# ==========================
# OS Files
# ==========================

.DS_Store
Thumbs.db
desktop.ini

# JSON files
learnspace_data.json