{% extends "base.html" %}

{% block title %}Register{% endblock %}

{% block content %}

<div class="col-md-7 mx-auto">

    <div class="card shadow">

        <div class="card-header">
            <h3>Create Account</h3>
        </div>

        <div class="card-body">

            <form method="POST" enctype="multipart/form-data">

                {% csrf_token %}

                {{ form.as_p }}

                <button class="btn btn-success w-100">
                    Register
                </button>

            </form>

        </div>

        <div class="text-center mt-3">

            <span class="text-muted">
                Already have an account?
            </span>

            <a href="{% url 'login' %}" class="text-decoration-none fw-semibold">
                Login
            </a>

        </div>

    </div>

</div>

{% endblock %}